footer{
	width: 100%;
	margin-top: 100px;
	border-top: 1px solid #eee;
	color: #777;
	background: #fff;
	font-size: 14px;
}
footer .score-point{
	float: left;
	width: 80px;
}
footer .score-info{
	float: left;
	width: 80px;
}
footer .cross-img{
	width: 15px;
}
footer .score-head{
	float: left;
	font-weight: bold;
	width: 80px;
}

footer a{
	color: #666;
}
footer .top{
	width: 240px;
	height: 70px;
}
footer .friends-block{
	width: 240px;
}
footer .friends-block img{
		width: 100%;
}
footer .friends-block .eu-text{
		margin-top: 20px;
}
footer .friends-block .eu-text a{
	line-height: 30px;
}
footer .friends-block .eu,.icrt{
	padding: 0px;

}
footer .friends-block .icrt{
	margin-top: 20px;
}
.footer-container{
	padding: 40px 80px;
}
.rate-list{
	padding: 0px;

}

footer h4{
	font-size: 14px;
	margin-bottom: 20px;

}