.main-container{
	margin: 0px;
	padding: 0px;
	padding-top: 50px;
}
.form-wrapper{
	background: #fff;
	width: 100%;
	padding: 40px 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: none;
 
    color: rgb(0, 0, 0);
}
.form-wrapper h1{
	font-size: 26px;
}
.row-fluid .span12 {
    width: 100%;
    height: 45px;
    border: none;
     border:none;
 background-color: #fff;
 border-bottom: 1px solid #ddd;
 outline:none;
}
.log-input{
	padding: 10px;
}
.log-input:focus{

 color: #555;
 border:1px solid #ccc;
 background-color: #fff;
 -webkit-box-shadow: 0 0px 12px rgba(0,0,0,.1);
	box-shadow: 0 0px 12px rgba(0,0,0,.1);

}
.row-fluid{
	margin-top: 20px;
}
.row-fluid .yzm-input{
	width: 200px;
	float: left;
}
.row-fluid #yzm-img{
	width: 80px;
	margin: 10px;
}
#success-modal{
	width: 300px;
	height: 200px;
}
.checkbox input{
	left: 20px;
	top: -5px;
}

